---
import Button from "../Button.astro";
import HorizontalSpace from "../HorizontalSpace.astro";
import Input from "../Input.astro";
import Title from "../Title.astro";
import Hero1 from "../../assets/services/hero-1.jpg";
import Hero2 from "../../assets/services/hero-2.jpg";
import Hero3 from "../../assets/services/hero-3.jpg";
import Hero4 from "../../assets/services/hero-4.jpg";
import { Image } from "astro:assets";
---

<div
  class="pt-8 pb-8 lg:pt-60 lg:pb-20 bg-white-lighter aspect-[1920/922] w-full"
>
  <HorizontalSpace>
    <div
      class="flex justify-start items-start w-full gap-16 max-lg:flex-col-reverse"
    >
      <div class="lg:w-6/12 max-lg:w-full">
        <Title noCenter centerOnMobile noMarginBottom
          >SOLICITA TU FRANQUICIA</Title
        >
        <p class="text-2xl lg:text-4xl text-primary mt-2 max-lg:text-center">
          Gispaquetería
        </p>
        <form class="w-full mt-12">
          <div
            class="w-full flex flex-col justify-start items-start gap-4 mb-4"
          >
            <div
              class="w-full flex justify-start items-start gap-4 max-lg:flex-col"
            >
              <div class="w-full">
                <Input autofocus responsive blue placeholder="Nombre:" />
              </div>
              <div class="w-full">
                <Input responsive blue placeholder="Apellido:" />
              </div>
            </div>
            <div class="w-full">
              <Input responsive blue placeholder="Correo Electrónico:" />
            </div>
            <div class="w-full">
              <Input responsive blue placeholder="Teléfono Celular:" />
            </div>
            <div class="w-full">
              <Input responsive blue placeholder="Teléfono Oficina:" />
            </div>
            <div class="w-full">
              <Input responsive blue placeholder="Ciudad:" />
            </div>
          </div>
          <button
            type="submit"
            class="bg-primary font-bold text-white p-4 rounded-lg max-lg:w-full"
            >SOLICITAR</button
          >
        </form>
      </div>
      <div class="lg:w-6/12 flex justify-center items-center max-lg:w-full">
        <div class="w-full max-lg:w-full max-lg:max-w-[300px]">
          <div class="flex justify-start items-end gap-2 mb-2">
            <div
              class="w-[140px] max-lg:aspect-[335/310] lg:w-[335px] lg:h-[310px] overflow-hidden rounded-2xl rounded-tl-[60px]"
            >
              <Image src={Hero1} alt="hero1" class="h-full" />
            </div>
            <div
              class="w-[120px] max-lg:aspect-[225/270] lg:w-[225px] lg:h-[270px] overflow-hidden rounded-2xl rounded-tr-[60px]"
            >
              <Image src={Hero2} alt="hero2" class="h-full" />
            </div>
          </div>
          <div class="flex justify-end items-start gap-2">
            <div
              class="w-[120px] max-lg:aspect-[220/210] lg:w-[220px] lg:h-[210px] overflow-hidden rounded-2xl rounded-bl-[60px]"
            >
              <Image src={Hero3} alt="hero3" class="h-full" />
            </div>
            <div
              class="w-[140px] max-lg:aspect-[335/260] lg:w-[335px] lg:h-[260px] overflow-hidden rounded-2xl rounded-br-[60px]"
            >
              <Image src={Hero4} alt="hero4" class="h-full" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </HorizontalSpace>
</div>
