---
import HorizontalSpace from "../HorizontalSpace.astro";
import SubTitle from "../SubTitle.astro";
import TextTabs from "../TextTabs.astro";
import Title from "../Title.astro";

const items = [
  {
    title: "¿Cómo puedo hablar con atención al cliente?",
    description:
      "Es el número con el cual usted hace seguimiento a su paquete mientras el mismo es trasladado desde el proveedor/suplidor o tienda online hasta nuestro almacén en Miami.",
  },
  {
    title: "¿Como dar seguimiento a tus paquetes y ver estatus?",
    description:
      "Es el número con el cual usted hace seguimiento a su paquete mientras el mismo es trasladado desde el proveedor/suplidor o tienda online hasta nuestro almacén en Miami.",
  },
  {
    title: "¿Qué es el tracking number?",
    active: true,
    description:
      "Es el número con el cual usted hace seguimiento a su paquete mientras el mismo es trasladado desde el proveedor/suplidor o tienda online hasta nuestro almacén en Miami.",
  },
  {
    title: "¿Qué Está Prohibido Enviar?",
    description:
      "Es el número con el cual usted hace seguimiento a su paquete mientras el mismo es trasladado desde el proveedor/suplidor o tienda online hasta nuestro almacén en Miami.",
  },
];
---

<div class="w-full bg-white mb-20 md:mb-32">
  <HorizontalSpace>
    <Title> Preguntas frecuentes </Title>
    <div class="mb-20">
      <SubTitle
        >Encuentra aquí respuestas claras y rápidas a las preguntas más comunes
        sobre nuestros servicios y envíos.</SubTitle
      >
    </div>

    <TextTabs items={items} />
  </HorizontalSpace>
</div>
