---
import HorizontalSpace from "../HorizontalSpace.astro";
import SignupImage from "../../assets/homepage/form.png";
import CalculatorImage from "../../assets/homepage/keys.png";
import TrackImage from "../../assets/homepage/location.png";
import AccountImage from "../../assets/homepage/user.png";
import { Image } from "astro:assets";
import Button from "../Button.astro";

const info = [
  {
    title: "calculadora",
    img: CalculatorImage,
    description:
      "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.",
  },
  {
    title: "rastreo",
    img: TrackImage,
    active: true,
    description:
      "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.",
  },
  {
    title: "mi cuenta",
    img: AccountImage,
    description:
      "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.",
  },
  {
    title: "registrarte",
    img: SignupImage,
    description:
      "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.",
  },
];
---

<div class="bg-secondary w-full flex pb-44">
  <HorizontalSpace>
    <div class="text-white max-w-[900px] relative left-0 right-0 m-auto">
      <div class="w-full text-center mb-20 lg:mb-40">
        <p class="uppercase text-lg lg:text-xl font-bold">Dirección de envío</p>
        <p class="text-2xl lg:text-4xl font-bold">
          10250 NW 89 AV. BAY 10, MEDLEY FL. 33178
        </p>
      </div>
      <div>
        <div
          class="flex items-center justify-between w-full mb-4 lg:mb-24 max-sm:flex-wrap"
        >
          {
            info.map(({ title, active, img }) => {
              return (
                <div
                  class={`tab max-sm:flex-6/12 flex flex-col mb-8 lg:mb-0 items-center justify-center cursor-pointer ${active ? "active" : ""}`}
                >
                  <div class="rounded-full border border-white p-6 lg:p-[40px] mb-4 lg:mb-8">
                    <Image
                      src={img}
                      alt={title}
                      class="max-w-[25px] md:max-w-[35px] lg:max-w-[55px]"
                    />
                  </div>
                  <p class="uppercase font-bold text-xs md:text-base lg:text-xl">{title}</p>
                </div>
              );
            })
          }
        </div>
        <div>
          {
            info.map(({ description, active }) => {
              return (
                <div
                  class={`tab-content flex flex-col lg:flex-row justify-between items-center ${active ? "active" : ""}`}
                >
                  <p class="lg:text-lg max-w-[550px] mb-12 lg:mb-0">
                    {description}
                  </p>
                  <Button>EXPLORAR</Button>
                </div>
              );
            })
          }
        </div>
      </div>
    </div>
  </HorizontalSpace>
</div>

<style>
  .tab {
    opacity: 0.5;
  }

  .tab.active {
    opacity: 1;
  }

  .tab-content {
    display: none;
  }

  .tab-content.active {
    display: flex;
  }
</style>

<script>
  const tabs = document.querySelectorAll(".tab");
  const tabContents = document.querySelectorAll(".tab-content");

  tabs.forEach((tab, index) => {
    tab.addEventListener("click", () => {
      document.querySelector(".tab.active")?.classList.remove("active");
      document.querySelector(".tab-content.active")?.classList.remove("active");
      tab.classList.add("active");
      tabContents[index].classList.add("active");
    });
  });
</script>
