---
import { Image } from "astro:assets";
import HeroImage from "../../assets/homepage/hero.png";
import HorizontalSpace from "../HorizontalSpace.astro";
import Button from "../Button.astro";
---

<div class="w-full max-h-[1074px] overflow-hidden bg-cover relative">
  <div class="w-full overflow-hidden flex justify-end items-start">
    <Image
      src={HeroImage}
      alt="hero"
      class="min-h-[400px] max-[1920px]:max-w-none max-[1920px]:h-[1031px] w-auto absolute"
    />
  </div>
  <div
    class="bg-linear-to-r from-secondary from-0% to-transparent absolute top-0 left-0 w-full h-full "
  >
    <div
      class="absolute bottom-0 left-0 w-full h-44 bg-linear-to-t from-secondary to-transparent"
    >
    </div>
  </div>

  <div class="top-0 left-0 right-0 m-auto max-w-[1200px] pb-44 lg:pb-[221px]">
    <HorizontalSpace>
      <div class="pt-16 lg:pt-[300px] lg:mx-[32px] text-white max-w-[650px]">
        <h1 class="text-3xl lg:text-6xl">
          Expertos en Manejo <br class="hidden lg:inline" /> de carga, brindamos<br
            class="hidden lg:inline"
          /> Soluciones y asesoria
          <br class="hidden lg:inline" /> en gestión Aduanal.
        </h1>
        <p class="text-base lg:text-xl mt-[60px] mb-[50px]">
          Somos una empresa con más de 23 años en el mercado, especializados en
          manejo de carga Aérea y marítima, agencia aduanal, tanto en
          importaciones como exportaciones y a la vez con amplio expertise en
          ser consolidadores de cargas.
        </p>
        <a href="/gis-webpage/servicios#gestion-aduanal">
          <Button fullWidthMobile>CONOCER MÁS</Button>
        </a>
      </div>
    </HorizontalSpace>
  </div>
</div>
