---
import HorizontalSpace from "../HorizontalSpace.astro";
import SubTitle from "../SubTitle.astro";
import Title from "../Title.astro";
import NewsletterImage from "../../assets/homepage/newsletter.jpg";
import Input from "../Input.astro";
import Button from "../Button.astro";
---

<div
  class="bg-[url(/homepage/newsletter.jpg)] bg-cover bg-center bg-no-repeat relative w-full"
>
  <div class="w-full h-full bg-[rgba(0,0,0,0.7)] py-12 md:py-40 md:pt-52">
    <HorizontalSpace>
      <div>
        <div class="mb-4">
          <Title white>¡Suscríbete a nuestro boletín!</Title>
        </div>
        <SubTitle white noBold
          >SUSCRÍBETE A NUESTRO BOLETÍN Y MANTENTE ACTUALIZADO.</SubTitle
        >
        <div class="flex justify-center items-center w-full mt-16">
          <form
            class="flex justify-center items-center flex-col md:flex-row w-full"
          >
            <div class="mb-4 md:mb-0 max-md:w-full md:mr-4">
              <Input responsiveMobile placeholder="Correo electrónico" />
            </div>
            <Button fullWidthMobile filled type="submit">SUSCRIBIRME</Button>
          </form>
        </div>
      </div>
    </HorizontalSpace>
  </div>
</div>
