---
import HorizontalSpace from "../HorizontalSpace.astro";
import Hero1 from "../../assets/company/hero-1.jpg";
import Hero2 from "../../assets/company/hero-2.jpg";
import Hero3 from "../../assets/company/hero-3.jpg";
import Hero4 from "../../assets/company/hero-4.jpg";
import { Image } from "astro:assets";
import Button from "../Button.astro";
---

<div class="pt-8 lg:pt-64 lg:pb-24 bg-white-lighter">
  <HorizontalSpace>
    <div class="flex justify-between items-center max-lg:flex-col">
      <div class="lg:w-6/12 max-lg:mb-4 max-lg:w-full max-lg:max-w-[300px]">
        <div class="flex justify-end items-end gap-2 mb-2 w-full">
          <div
            class="w-[150px] max-lg:aspect-[355/325] lg:w-[355px] lg:h-[325px] overflow-hidden rounded-2xl rounded-tl-[60px]"
          >
            <Image src={Hero1} alt="hero1" class="h-full" />
          </div>
          <div
            class="w-[110px] max-lg:aspect-[235/285] lg:w-[235px] lg:h-[285px] overflow-hidden rounded-2xl rounded-tr-[60px]"
          >
            <Image src={Hero2} alt="hero2" class="h-full" />
          </div>
        </div>
        <div class="flex justify-start items-start gap-2">
          <div
            class="w-[110px] max-lg:aspect-[235/220] lg:w-[235px] lg:h-[220px] overflow-hidden rounded-2xl rounded-bl-[60px]"
          >
            <Image src={Hero3} alt="hero3" class="h-full" />
          </div>
          <div
            class="w-[130px] max-lg:aspect-[355/285] lg:w-[275px] lg:h-[275px] overflow-hidden rounded-2xl rounded-br-[60px]"
          >
            <Image src={Hero4} alt="hero4" class="h-full" />
          </div>
        </div>
      </div>
      <div class="lg:max-w-[595px]">
        <div class="text-primary mb-8">
          <p class="text-base lg:text-[2.2rem]">Somos una empresa con más de</p>
          <h1 class="text-lg lg:text-[2.65rem] font-bold uppercase">
            23 años en el mercado
          </h1>
        </div>
        <div class="lg:text-lg">
          <p class="mb-8">
            Especializados en manejo de carga Aérea y Marítima, Agencia Aduanal,
            tanto en Importaciones como Exportaciones y a la vez con amplio
            expertise en consolidadores de cargas.
          </p>
          <p class="mb-8">
            Por más de dos décadas hemos estado conectando personas y empresas a
            nivel global.
          </p>
          <p class="mb-8">
            Nuestra trayectoria se respalda en un compromiso con los clientes
            con brindar soluciones integrales apegadas a la excelencia,
            agilidad, eficiencia y puntualidad en las gestiones a nuestros
            clientes adaptándonos a sus requerimientos específicos y
            garantizando la seguridad de sus mercancías.
          </p>
          <a href="/gis-webpage/servicios#carga-aerea-courier"
            ><Button bold primary fullWidthMobile>CONOCER MÁS</Button></a
          >
        </div>
      </div>
    </div>
  </HorizontalSpace>
</div>
