@import "tailwindcss";

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 0 200;
    src: url("/src/assets/fonts/Montserrat/Montserrat-Thin.ttf");
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url("/src/assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200 600;
    src: url("/src/assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600 700;
    src: url("/src/assets/fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800 900;
    src: url("/src/assets/fonts/Montserrat/Montserrat-ExtraBold.ttf");
}


@theme {
    --color-white-light: #f8f8f8;
    --color-white-lighter: #fbfbfb;
    --color-gray: #2b2b2b;
    --color-white-dark: #d3d3d3;
    --color-primary: #37529f;
    --color-secondary: #102254;
    --font-Montserrat: "Montserrat", sans-serif;

    --animate-fadeIn: fadeIn .3s ease-out forwards;

    @keyframes fadeIn {

        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }

    }
}