---
import { Icon } from "astro-icon/components";
import HorizontalSpace from "../components/HorizontalSpace.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="w-full min-h-[750px]">Map</div>

  <div class="py-20">
    <HorizontalSpace>
      <div class="flex justify-between items-center max-lg:flex-col">
        <div
          class="absolute top-[-140px] left-0 flex justify-center items-end w-full text-sm lg:text-lg text-primary font-extrabold"
        >
          <div
            class="tabButton w-6/12 py-4 lg:w-[285px] flex justify-center items-center bg-white cursor-pointer active"
            data-tab-button="maima"
          >
            MAIMA
          </div>
          <div
            class="tabButton py-4 w-[285px] flex justify-center items-center bg-white cursor-pointer"
            data-tab-button="santo-domingo"
          >
            SANTO DOMINGO
          </div>
        </div>
        <div>
          <div class="hidden active" data-tab-item="maima">
            <div
              class="flex justifty-start max-lg:justify-center items-start text-xl lg:text-4xl text-primary mb-8"
            >
              <p>
                G.I.S. <div
                  class="w-[1px] h-5 lg:h-8 mt-1 bg-primary mx-4 lg:mx-8"
                >
                </div>
                <span class="font-extrabold">MAIMA</span>
              </p>
            </div>
            <div
              class="flex justify-start items-start gap-4 lg:gap-8 mb-8 lg:mb-12"
            >
              <div class="text-primary">
                <Icon name="mdi:clock-time-three" width={25} height={25} />
              </div>
              <div>
                <p class="font-extrabold text-primary mb-2">Horario</p>
                <div
                  class="flex justify-start items-start max-lg:flex-col gap-4 lg:gap-8"
                >
                  <div>
                    <p class="font-extrabold">Lunes a Viernes:</p>
                    <p class="text-gray-600 text-sm">8:00 AM a 5:00 PM HS</p>
                  </div>
                  <div>
                    <p class="font-extrabold">Sábados:</p>
                    <p class="text-gray-600 text-sm">8:00 AM a 12:00 PM HS</p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="flex justify-start items-start gap-4 lg:gap-8 mb-8 lg:mb-12"
            >
              <div class="text-primary">
                <Icon name="mdi:phone" width={25} height={25} />
              </div>
              <div>
                <p class="font-extrabold text-primary mb-2">TELÉFONO</p>
                <div class="flex justify-start items-start gap-8">
                  <div>
                    <p class="font-extrabold">305 356 1348</p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="flex justify-start items-start gap-4 lg:gap-8 mb-8 lg:mb-12"
            >
              <div class="text-primary">
                <Icon name="mdi:map-marker" width={25} height={25} />
              </div>
              <div>
                <p class="font-extrabold text-primary mb-2">DIRECCIÓN</p>
                <div class="flex justify-start items-start gap-8">
                  <div>
                    <p class="font-extrabold">
                      10250 NW 89 AV. Bay 10, Medley FL. 33178
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hidden" data-tab-item="santo-domingo">
            <div
              class="flex justifty-start max-lg:justify-center items-start text-xl lg:text-4xl text-primary mb-8"
            >
              <p>
                G.I.S. <div
                  class="w-[1px] h-5 lg:h-8 mt-1 bg-primary mx-4 lg:mx-8"
                >
                </div>
                <span class="font-extrabold">SANTO DOMINGO</span>
              </p>
            </div>
            <div
              class="flex justify-start items-start gap-4 lg:gap-8 mb-8 lg:mb-12"
            >
              <div class="text-primary">
                <Icon name="mdi:clock-time-three" width={25} height={25} />
              </div>
              <div>
                <p class="font-extrabold text-primary mb-2">Horario</p>
                <div
                  class="flex justify-start items-start max-lg:flex-col gap-4 lg:gap-8"
                >
                  <div>
                    <p class="font-extrabold">Lunes a Viernes:</p>
                    <p class="text-gray-600 text-sm">8:00 AM a 5:00 PM HS</p>
                  </div>
                  <div>
                    <p class="font-extrabold">Sábados:</p>
                    <p class="text-gray-600 text-sm">8:00 AM a 12:00 PM HS</p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="flex justify-start items-start gap-4 lg:gap-8 mb-8 lg:mb-12"
            >
              <div class="text-primary">
                <Icon name="mdi:phone" width={25} height={25} />
              </div>
              <div>
                <p class="font-extrabold text-primary mb-2">TELÉFONO</p>
                <div class="flex justify-start items-start gap-8">
                  <div>
                    <p class="font-extrabold">305 356 1348</p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="flex justify-start items-start gap-4 lg:gap-8 mb-8 lg:mb-12"
            >
              <div class="text-primary">
                <Icon name="mdi:map-marker" width={25} height={25} />
              </div>
              <div>
                <p class="font-extrabold text-primary mb-2">DIRECCIÓN</p>
                <div class="flex justify-start items-start gap-8">
                  <div>
                    <p class="font-extrabold">
                      10250 NW 89 AV. Bay 10, Medley FL. 33178
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div
            class="py-12 p-8 lg:p-12 lg:py-16 bg-primary text-white rounded-xl"
          >
            <p class="font-extrabold text-lg text-center w-full mb-8">
              NUESTROS SERVICIOS
            </p>
            <div>
              <div
                class="flex justify-start items-center gap-4 pb-4 mb-4 border-b-1 border-white"
              >
                <div class="p-2 bg-white text-primary rounded-md">
                  <Icon name="mdi:email" />
                </div>
                <p>Courier</p>
              </div>
              <div
                class="flex justify-start items-center gap-4 pb-4 mb-4 border-b-1 border-white"
              >
                <div class="p-2 bg-white text-primary rounded-md">
                  <Icon name="mdi:office-building" />
                </div>
                <p>Agencia aduanal</p>
              </div>
              <div
                class="flex justify-start items-center gap-4 pb-4 mb-4 border-b-1 border-white"
              >
                <div class="p-2 bg-white text-primary rounded-md">
                  <Icon name="mdi:truck-cargo-container" />
                </div>
                <p class="max-w-[190px]">Manejo de carga aérea / marítima</p>
              </div>
              <div class="flex justify-start items-center gap-4">
                <div class="p-2 bg-white text-primary rounded-md">
                  <Icon name="mdi:account-hard-hat-outline" />
                </div>
                <p>Consolidadores de carga</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </HorizontalSpace>
  </div>
</Layout>

<style>
  [data-tab-item].active {
    display: block;
  }

  [data-tab-button].active {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--color-primary);
    color: white;
  }
</style>

<script>
  const tabButtons = document.querySelectorAll<HTMLDivElement>(".tabButton");
  tabButtons.forEach((tabButton) => {
    const tabItemName = tabButton.getAttribute("data-tab-button");
    tabButton.addEventListener("click", (e) => {
      const tabItem = document.querySelector<HTMLDivElement>(
        "[data-tab-item='" + tabItemName + "']"
      );
      if (tabItem) {
        document
          .querySelector("[data-tab-item].active")
          ?.classList.remove("active");
        document
          .querySelector("[data-tab-button].active")
          ?.classList.remove("active");
        tabItem.classList.add("active");
        tabButton.classList.add("active");
      }
    });
  });
</script>
