---

---

<div
  class="w-full flex justify-start items-center bg-white p-6 md:p-8 border border-gray-100 shadow-lg md:min-h-[143px]"
>
  <div
    class="w-[50px] h-[50px] md:w-[60px] md:h-[60px] border-primary border-2 rounded-full flex justify-center items-center text-primary mr-4 p-2"
  >
    <slot name="icon" />
  </div>
  <div class="">
    <div class="text-xl md:text-2xl font-extrabold">
      <slot />
    </div>
    <div class="text-gray-500">
      <slot name="description" />
    </div>
  </div>
</div>
