---
import { Icon } from "astro-icon/components";
export interface Props {
  open?: boolean;
  name: string;
}

const { open, name } = Astro.props;
---

<div class={`modal ${open ? "modal-open" : ""}`} data-modal-name={name}>
  <div
    class="modal-background w-full h-full fixed top-0 left-0 bg-[rgba(0,0,0,0.4)]"
  >
    <div
      class="fixed w-full max-w-[900px] max-md:w-[90%] max-md:h-[90%] h-full max-h-[700px] bg-primary top-0 left-0 right-0 bottom-0 m-auto p-16 pl-20 text-white rounded-xl shadow-[0px_10px_10px_5px_rgba(0,0,0,0.5)] animate-fadeIn"
    >
      <div class="absolute top-4 right-4 cursor-pointer modal-close-button">
        <div class="pointer-events-none">
          <Icon name="mdi:close-circle-outline" width={45} height={45} />
        </div>
      </div>
      <slot />
    </div>
  </div>
</div>

<script is:inline>
  setTimeout(() => {
    const modal = document.querySelectorAll(".modal");
    console.log(modal);
    modal.forEach((modal) => {
      const modalBackground = document.querySelector(".modal-background");

      if (modalBackground) {
        modalBackground.addEventListener("click", (e) => {
          console.log(e);
          if (
            e.target.classList.contains("modal-background") ||
            e.target.classList.contains("modal-close-button")
          ) {
            modal.classList.remove("modal-open");
            document.body.style.overflow = "initial";
          }
        });
      }
    });
  }, 300);
</script>

<style>
  .modal {
    display: none;
  }

  .modal-open {
    display: block;
  }
</style>
