---
export interface Props {
  white?: boolean;
  noCenter?: boolean;
  noMarginBottom?: boolean;
  centerOnMobile?: boolean;
  md?: boolean;
}

const { white, noCenter, noMarginBottom, centerOnMobile, md } = Astro.props;
const mb = noMarginBottom ? "" : white ? "mb-2" : "mb-4 lg:mb-8";
const textSize = md
  ? "text-5xl"
  : white
    ? "text-2xl lg:text-6xl"
    : "text-2xl lg:text-5xl";
---

<h2
  class={`uppercase title font-extrabold ${textSize} ${white ? "text-white " : "text-primary "} ${mb} w-full ${noCenter ? "" : "text-center"} ${centerOnMobile ? "max-lg:text-center" : ""}`}
>
  <slot />
</h2>

<style>
  .title {
    word-break: break-word;
  }
</style>
