---
export interface Props {
  white?: boolean;
  noCenter?: boolean;
  noMarginBottom?: boolean;
}

const { white, noCenter, noMarginBottom } = Astro.props;
const mb = noMarginBottom ? "" : white ? "mb-2" : "mb-8";
---

<h2
  class={` uppercase font-extrabold ${white ? "text-white text-6xl" : "text-primary text-5xl"} ${mb} w-full ${noCenter ? "" : "text-center"}`}
>
  <slot />
</h2>
