---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>GIS</title>
  </head>
  <body class="font-Montserrat">
    <Navbar />
    <slot />
    <Footer />
    <script>
      const modals = document.querySelectorAll<HTMLDivElement>("[data-modal]");
      modals.forEach((modal) => {
        const modalName = modal.getAttribute("data-modal");
        modal.addEventListener("click", (e) => {
          const modal = document.querySelector<HTMLDivElement>(
            "[data-modal-name='" + modalName + "']"
          );
          if (modal) {
            modal.classList.add("modal-open");
            document.body.style.overflow = "hidden";
          }
        });
      });
    </script>
  </body>
</html>
